body {
  background-image: url("http://lorempixel.com/400/200");
  background-size: cover;
  color: white;
}

h3 {
  font-style: oblique;
}

.container {
  background-image: linear-gradient(black, transparent 50%);
  padding: 5% 20% 50% 20%;
}
